

body{
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/ec/b0/b2/ecb0b299947d036a53ee783f7a8e2cff.jpg");
}

.pannel-styling{
  margin: 50px;
  margin-top: 100px;
  padding-bottom: 100px;
}
